@import "./tailwind.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @font-face {
  font-family: 'NotoSansLao';
  src: url('../assets/font/ttf/font.css') format('truetype');
  font-weight: 400;
  font-style: normal;
} */
@font-face {
  font-family: 'Laos_Patuxai';
  src: url('../assets/font/Lao_Patuxai3/LaosPatuxai.css') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
